<div class="team">init</div>
<table *ngFor="let state of states, index as i">
<tr><td valign=top width="0">
  <input type=button [value]="features[i].open ? '-' : '+'" (click)="features[i].open=!features[i].open"><br>
  <input type=button [value]="features[i].annotate ? '¿' : '?'" (click)="features[i].annotate=!features[i].annotate">
</td><td>
  <pre class="state" [ngClass]="{open:features[i].open}" onfocus="this.select()">{{toJson(state,features[i])}}</pre>
  <input type=button *ngFor="let team of teamTitles, index as i" [value]="team" [class]="teamClass(i,state)" (click)="goToMove(state.moveNumber,i)"/>
</td>
</tr>
</table>