:host {
  display: block;
}
:host(.inactive) {
  background-color: #cccccc;
}
.state {
  border:1px solid black;
  padding: 2px;
  margin:2px;
  overflow: hidden;
  user-select: select auto;  
}
.team {
  font:12px consolas;
}
.team.turn {
  background-color: rgb(200,255,200);
}
.active .team.turn {
  background-color: rgb(128,255,128);
}
.team.notPlaying {
  background-color: rgb(255,198,198);
}
.autoMove .team.turn {
  font-weight: bold;
  color:red;
}
.active pre {
  background-color: rgb(233,255,233);

}